## Installing new dependencies

The package is a monorepo. If you need to add a dependency to a package do it like this please:

```
yarn workspace @sparrow-tags/frontend add react-router-dom
```

## Infrastructure

We use sst.dev, a project based on Pulumi for infrastructure as code.

## Backend

We use a Typescript Express server in `packages/backend`. The database logic uses drizzle-kit with the schema in a shared package at `packages/schema`.

## Frontend

The following shadcn/ui components are available in the `packages/frontend/src/components/ui` folder. You should use them whenever possible. Don't pull in new libraries or build custom components unless it's truly necessary.

### shadcn/ui components

- accordion
- alert-dialog
- alert
- aspect-ratio
- avatar
- badge
- breadcrumb
- button
- calendar
- card
- carousel
- chart
- checkbox
- collapsible
- command
- context-menu
- dialog
- drawer
- dropdown-menu
- form
- hover-card
- input-otp
- input
- label
- menubar
- navigation-menu
- pagination
- popover
- progress
- radio-group
- resizable
- scroll-area
- select
- separator
- sheet
- sidebar
- skeleton
- slider
- sonner
- switch
- table
- tabs
- textarea
- toggle-group
- toggle
- tooltip

**Important:** For toast, please use the `sonner` component, do not implement your own.
