DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=changeme
API_KEY=changeme
SESSION_SECRET=changeme
ADMIN_PASSWORD=changeme
PORT=3001
NGROK_AUTHTOKEN=changeme
NGROK_URL=https://your-domain.ngrok.dev
