DATABASE_NAME=postgres
DATABASE_USER=postgres
DATABASE_PASSWORD=changeme
API_KEY=changeme
ENCRYPTION_KEY=changeme
PORT=3001
COGNITO_USER_POOL_ID=us-east-1_FbcunnevD
COGNITO_CLIENT_ID=4pdil4br40q8s4i72eb7td2ndm
COGNITO_REGION=us-east-1
SUPERADMIN_EMAILS=ben@sparrow.dev
